/*globals*/
* {
  font-family: helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

/*body*/
body {
  background-color: #30634a;
}

/*header*/
/*navigation*/
.nav {
  height: 50px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  
}

.nav a {
  color: #0c5b31;
  font-size: 1.2rem;
  text-decoration: none;
}

/*tied to button-control in the contact section*/
.button-yellow {
  background-color: #efff6b;
  padding: 10px;
  border-radius: 2px;
}

/*main*/
.large-txt {
  font-size: 4rem;
  font-weight: 700;
  text-align: right;
  color: #0c5b31;
  text-align: center;
  font-weight: 600;
}

.sm-txt {
  font-size: 1rem;
  text-align: left;
  font-weight: 200;
  color: white;
  text-align: center;
  margin-top: 10px;
}

.attention-getter-flex {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.img-gilogo {
  height: 400px;
  width: 400px;
  border-radius: 10%;
  margin: 30px 10px 10px 30px;

}

.blurb {
  font-size: 20px;
  color: #143328;
  text-indent: 25px;
  height: 400px;
  width: 400px;
  padding: 45px 0 0 0;
  margin-left: 20px;
}

.aside-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.aside-p {
  font-size: 48px;
  margin: 0 40px 0 0;
  color: #efff6b;
}

.img-handshake {
  height: 400px;
  width: 400px;
  border-radius: 10%;
  margin: 30px 10px 10px 30px;
}

/*footer*/
.footer {
  color: #143328;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: auto;
}

/*GALLERY MAIN*/
.logo {
  font-size: 6rem;
  font-weight: 500;
  color: #0c5b31;
}

.slogan {
  font-size: 6rem;
  font-weight: 500;
  color: #d0d9d0;
  margin-top: -55px;
  margin-left: 500px;
}

.flex-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.succ-image {
  width: 300px;
  height: 300px;
}

.card-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
  margin: 10px;
  color: #0c5b31;
}

.card p {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
}

.card h3 {
  margin: 20px;
}

.donate-blurb {
  display: flex;
  justfy-content: center;
  color: #143328;
}

.donate-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  font-size: 18px;
}

.donate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.don-img {
  height: 70px;
  width: 70px;
  border-radius: 5px;
}

.donate p {
  color: #d0d9d0;
  text-align: center;
  margin: 4px;
}

.donate-blurb {
  color: white;
}

/*CONTACT FORM*/
.con-h1 {
  text-align: center;
  color: #0c5b31;
  font-weight: 400;
} 
.con-h3 {
  text-align: center;
  font-weight: 300;
  margin-top: 5px
  margin-bottom: 15px;
}

.pi-flex-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.con-p-div {
  width: 25%;
  margin: 15px 10px 10px 10px;

}

.con-p {
  color: #143328;
  font-size: 18px;
}

.form {
  background-color: #0c5b31;;
  width: 35%;
  margin: 30px auto;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #143328;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.input-container label {
  width: 20%;
  padding: 5px;
}

.input-container input,
.input-container textarea {
  border-radius: 5px;
  width: 75%
  padding: 10px;
  border: #143328;
}

textarea {
  height: 100px;
}

.button-control {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

button {
  width: 70px;
  background-color: #000000;
  color: white;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  size: 12px;
  letter-spacing: 3px; 
}

.radio {
  display: flex;
  justify-items: flex-start;
  align-items: center;
}




